<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">
    <h1>주문하기</h1>
    <form method="post" th:action="@{/subscription/applyPs}" autocomplete="off" th:object="${requestOrder}">
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        <h2>주문하실 상품 정보</h2>
        <table class="table_rows mb30">
            <thead>
                <tr>
                    <th width="300">콘텐츠명</th>
                    <th width="120">콘텐츠이미지</th>
                    <th>가격/구독기간</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}" th:object="${item}">
                <td th:text="*{gameTitle}"></td>
                <td align="center">
                    <input type="hidden" name="num" th:value="*{num}">
                    <th:block th:if="*{thumbnail != null}" th:utext="*{@utils.printThumb(thumbnail.seq, 100, 100, 'image')}"></th:block>
                </td>
                <td th:text="*{salePrice + '원' + startDate + '~' + endDate + '(' + subscriptionMonths + '개월)'}"></td>
            </tr>
            </tbody>
        </table>

        <h2>구매자 정보</h2>
        <table class="table_cols mb30">
            <tr>
                <th width="180">구매자명</th>
                <td>
                    <input type="text" name="orderName" th:field="*{orderName}">
                    <div class="error" th:each="err : ${#fields.errors('orderName')}" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th>연락처</th>
                <td>
                    <input type="text" name="orderMobile" th:field="*{orderMobile}">
                    <div class="error" th:each="err : ${#fields.errors('orderMobile')}" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th>주문합계</th>
                <td>
                    <th:block th:text="${totalPayment >= 1000 ? #numbers.formatInteger(totalPayment, 3, 'COMMA') : totalPayment}"></th:block> 원
                </td>
            </tr>
        </table>

        <h2>결제 방법 선택</h2>
        <table class="table_cols">
            <tr>
                <th width="180">결제방법</th>
                <td>
                    <input type="radio" name="paymentMethod" value="BANK_TRANSFER" id="bankTransfer" th:field="*{paymentMethod}">
                    <label for="bankTransfer">무통장 입금</label> <br>
                    <input type="radio" id="direct" name="paymentMethod" value="DIRECT" th:field="*{paymentMethod}">
                    <label for="direct">계좌이체</label> <br>
                    <input type="radio" id="kakaoPay" name="paymentMethod" value="KAKAOPAY" th:field="*{paymentMethod}">
                    <label for="kakaoPay">카카오페이</label>

                    <div class="error" th:each="err : ${#fields.errors('paymentMethod')}" th:text="${err}"></div>
                </td>
            </tr>
            <tr>
                <th>입금자명</th>
                <td>
                    <input type="text" name="depositor" th:field="*{depositor}">
                    <div class="error" th:each="err : ${#fields.errors('depositor')}" th:text="${err}"></div>
                </td>
            </tr>
        </table>
        <div class="submit_btns">
            <button type="submit" class="btn">결제하기</button>
        </div>
    </form>
</section>
</html>