<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<section layout:fragment="content">
    <h1>교육 자료</h1>
    <form method="get" th:action="@{/subscription/eduList}" autocomplete="off" th:object="${eduDataSearch}">
        <table class="table_cols">
            <tr>
                <th>검색</th>
                <td>
                    <div class="input_grp">
                        <select name="sopt">
                            <option value="ALL" th:field="*{sopt}">통합검색</option>
                            <option value="name" th:field="*{sopt}">학습자료명</option>
                            <option value="content" th:field="*{sopt}">자료내용</option>
                        </select>
                        <input type="text" name="skey" th:field="*{skey}">
                    </div>
                </td>
            </tr>
        </table>
        <div class="submit_btns">
            <button type="submit" class="btn">검색하기</button>
        </div>
    </form>

    <h2>교육 자료 목록</h2>
    <form method="post" autocomplete="off">
        <table class="table_rows">
            <thead>
            <tr>
                <th>학습자료명</th>
                <th width="120">썸네일</th>
                <th>자료구분</th>
                <th>자료유형</th>
                <th>자료file주소</th>
                <th>서비스구분</th>
                <th>자료내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}"  th:object="${item}">
                <td th:text="*{name}"></td>
                <td align="center">
                    <th:block th:if="*{thumbnail != null}" th:utext="*{@utils.printThumb(thumbnail.seq, 100, 100, 'image')}"></th:block>
                </td>
                <td th:text="*{dataType}"></td>
                <td th:text="*{contentType}"></td>
                <td th:text="*{fileAddress}"></td>
                <td th:text="*{serviceType}"></td>
                <td th:text="*{content}"></td>
            </tr>
            </tbody>
        </table>
        <th:block th:replace="~{common/_pagination::pagination}"></th:block>
    </form>
</section>
</html>