<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">
    <h2>내 구독 상품 조회</h2>
    <form method="get" th:action="@{/subscription}" autocomplete="off" th:object="${orderSearch}">
        <table class="table_cols">
            <tr>
                <th width="180">검색</th>
                <td>
                    <div class="input_grp">
                        <select name="sopt">
                            <option value="ALL" th:field="*{sopt}">통합검색</option>
                            <option value="gameTitle" th:field="*{sopt}">게임콘텐츠명</option>
                        </select>
                        <input type="text" name="skey" th:field="*{skey}">
                    </div>
                </td>
            </tr>
        </table>
        <div class="submit_btns">
            <button type="submit" class="btn">검색하기</button>
        </div>
    </form>

    <table class="table_rows">
        <thead>
        <tr>
            <th>콘텐츠명</th>
            <th>콘텐츠이미지</th>
            <th>가격/구독기간</th>
            <th>구매일자</th>
            <th>학습그룹 등록내역</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}" th:object="${item}">
                <td th:text="*{gameTitle}"></td>
                <td>
                    <th:block th:if="*{gameContent != null && gameContent.thumbnail != null}" th:utext="*{@utils.printThumb(gameContent.thumbnail.seq, 100, 100, 'image')}"></th:block>
                </td>
                <td>
                    <th:block th:text="*{TotalPayment >= 1000 ? #numbers.formatInteger(TotalPayment, 3, 'COMMA') : TotalPayment}"></th:block>원 /
                    <th:block th:text="*{startDate + '~' + endDate + '(' + subscriptionMonths + '개월)'}"></th:block>
                </td>
                <td th:text="*{startDate}">구매일자</td>
                <td th:text="*{getGameContent().getStgroupCount()}"></td>
            </tr>
        </tbody>
    </table>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</section>
</html>