<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">
    <h2>게임콘텐츠 검색 및 구독신청</h2>
    <form method="get" th:action="@{/subscription/subscribe}" autocomplete="off" th:object="${gameContentSearch}">
        <table>
            <tr>
                <th>검색</th>
                <td>
                    <select name="sopt">
                        <option value="ALL" th:field="*{sopt}">통합검색</option>
                        <option value="gameTitle" th:field="*{sopt}">게임콘텐츠명</option>
                        <option value="packageContents" th:field="*{sopt}">패키지내용</option>
                    </select>
                    <input type="text" name="skey" th:field="*{skey}">
                </td>
            </tr>
            <td>
                <button type="submit">검색하기</button>
            </td>
        </table>
    </form>

    <form method="post" th:action="@{/subscription/apply}" autocomplete="off">
        <table border="1">
            <tr>
                <th>선택</th>
                <th>게임콘텐츠명</th>
                <th>콘텐츠이미지</th>
                <th>가격 / 구독가능기간</th>
                <th>상품소개</th>
            </tr>

            <tr th:each="item : ${items}" th:object="${item}">
                <td>
                    <input type="checkbox" name="chk" th:value="*{num}"/>
                </td>
                <td th:text="*{gameTitle}"></td>
                <td>
                    <th:block th:if="*{thumbnail != null}" th:utext="*{@utils.printThumb(thumbnail.seq, 100, 100, 'image')}"></th:block>
                </td>
                <td th:text="*{originalPrice + '원' + startDate + '~' + endDate + '(' + subscriptionMonths + '개월)'}"></td>
                <td th:text="*{packageContents}"></td>
            </tr>
        </table>
        <button type="submit">구독하기</button>

        <th:block th:replace="~{common/_pagination::pagination}"></th:block>
    </form>
</section>
</html>