<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<section layout:fragment="content">

    <body>
    <div class="main-contents">
        <div class="content content01">
            <img th:src="@{/images/guide/main.jpg}">

        </div>
        <div class="content content02" id="">
            <h2><span>구독서비스</span></h2>
            <p>

            </p>

            <p>자세히 보기
                <i class="xi-arrow-right"></i>
            </p>
        </div>
        <div class="content content03">
            <h2><span>학습서비스</span> </h2>
            <p>

            </p>
            <p>자세히 보기
                <i class="xi-arrow-right"></i>
            </p>
        </div>
        <div class="content content04">
            <h2><span>교육자마당</span> </h2>
            <p>

            </p>
            <p>자세히 보기
                <i class="xi-arrow-right"></i>
            </p>
        </div>
        <div class="content content05">
            <h2><span>운영마당</span></h2>
            <p>

            </p>
            <p>자세히 보기
                <i class="xi-arrow-right"></i>
            </p>
        </div>

        <div class="content content07">
            <h2><span>최신게시글 </span> </h2>
        </div>
        <div class="content content08">

        </div>
        <div class="content content09">

        </div>

    </div>
    </body>
</section>

</html>