<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<section layout:fragment="content">


    <div class="main-contents">
        <div class="content content01">
            <img th:src="@{/images/guide/main.jpg}">

        </div>
        <div class="content content02" id="">
            <h2><span>구독서비스</span></h2>


            <p>
                <a th:href="@{/subscription}">바로가기</a>
                <i class="xi-arrow-right"></i>
            </p>
        </div>
        <div class="content content03">
            <h2><span>학습서비스</span> </h2>

            <p>
                <a th:href="@{/education/join}">바로가기</a>

                <i class="xi-arrow-right"></i>
            </p>
        </div>
        <div class="content content04">
            <h2><span>교육자마당</span> </h2>

            <p>
                <a th:href="@{/teacher/group}">바로가기</a>
                <i class="xi-arrow-right"></i>
            </p>
        </div>
        <div class="content content05">
            <h2><span>운영마당</span></h2>

            <p>
                <a th:href="@{/admin/gamecontent}">바로가기</a>
                <i class="xi-arrow-right"></i>
            </p>
        </div>

        <div class="content content07">
            <h2><span>최신게시글 </span> </h2>
            <br>
            <div class="top5nNoticeList" th:each="notice : ${noticeList}">
                <!-- 게시물 제목 출력 -->
                <span>공지 제목 :</span>
                <span>
                    <!-- 게시물 제목에 링크 추가 -->
                    <a th:href="@{'/guide/detail/' + ${notice.num}}" th:text="${notice.title}"></a>
                </span>
            </div>
        </div>
        <div class="content content08">
            <h2>신나게 즐기다 보면 <br> 실력도<br> 자신감도 UP!  </h2>
        </div>
        <div class="content content09">
            <h2>바둑실력이 강해질수록 <br> 아이의 집중력과<br> 사고력도 쑥쑥!</h2>
        </div>

    </div>


    <footer>
        <h2>깃허브 주소</h2>
        <h3> https://github.com/badukEdu/badukEdu2 </h3>


        <address>
            이용약관 / 개인정보 방침으로 구성
            <br>
            © Copyright 2024 바둑교육. All rights reserved.
        </address>

        </footer>

</section>



</html>