<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">
    <h2>게시글 상세 조회</h2>

    <div th:if="${noticeDetail}">
        <table class="table_rows">
            <tr>
                <td>게시글 번호:</td>
                <td><span th:text="${noticeDetail.num}"></span></td>
            </tr>
            <tr>
                <td>작성자:</td>
                <td th:text="${noticeDetail.member != null ? noticeDetail.member.userId : '작성자 정보 없음'}"></td>
            </tr>
            <tr>
                <td>공지 분류:</td>
                <td><span th:text="${noticeDetail.type}"></span></td>
            </tr>
            <tr>
                <td>제목:</td>
                <td><span th:text="${noticeDetail.title}"></span></td>
            </tr>
            <tr>
                <td>내용:</td>
                <td><span th:text="${noticeDetail.content}"></span></td>
            </tr>
            <!-- 추가 필드가 있다면 추가 -->
        </table>
    </div>
    <br>
    <h2>댓글</h2>
    <div>
        <form th:action="@{/comments/create}" method="post" th:object="${requestComment}" target="ifrmProcess">
            <input type="hidden" th:field="*{num}" th:value="${noticeDetail.num}">
            <input type="text" th:field="*{content}">
            <button type="submit">작성</button>
        </form>
    </div>
    <div>
        <ul th:each="comment : ${noticeDetail.noticeComments}" th:object="${comment}">
            <span th:text="*{member != null ? member.userId : '작성자 정보가 없습니다'}"></span>
            <span th:text="*{content}"></span>
            <span th:if="${@memberUtil.isWriter(comment.member)}">
                <a th:href="@{/comments/delete/{num}(num=*{commentNum})}" target="ifrmProcess">삭제</a>
            </span>
        </ul>
    </div>
    <!-- 댓글 입력 form -->

</section>
</html>