<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">
    <script src="/js/admin/board/form.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/admin/board/form.css">
<h2>문의 등록</h2>
<form th:action="@{/guide/add}" method="post" th:object="${requestQnaAdd}" autocomplete="off" enctype="multipart/form-data">
    <input type="hidden" name="gid" th:field="*{gid}">
    <table class="table_rows">
        <tr>
            <td>문의 유형</td>
            <td>
                <select id="type" th:field="*{type}" name="type">
                    <option value="" hidden>문의 유형을 선택하세요</option>
                    <option value="회원 정보">회원 정보</option>
                    <option value="상품 구매">상품 구매</option>
                    <option value="사이트 이용">사이트 이용</option>
                    <option value="기타">기타</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>제목</td>
            <td><input type="text" id="title" name="title" th:field="*{title}" placeholder="제목을 입력하세요"></td>
        </tr>
        <tr>
            <td>답변 알림</td>
            <td>
                <input type="radio" id="receive" th:field="*{answerAlert}" value="true" name="Receive">
                <label for="receive">받기</label>
                <input type="radio" id="doNotReceive" th:field="*{answerAlert}" value="false" name="doNotReceive">
                <label for="doNotReceive">받지 않기</label>
            </td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea id="content" name="content" th:field="*{content}" placeholder="내용을 입력하세요." cols="30" rows="20"></textarea></td>
        </tr>

<!--        <tr>-->
<!--            <th>첨부파일(파일 1개당 최대 첨부용량 5MB)</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td colspan="2">-->
<!--                <div class="dropArea dragFileUploads">-->
<!--                    <p>마우스로 파일을 끌어 놓으세요.</p>-->
<!--                </div>-->
<!--                <div id="fileInfo">선택된 파일 없음</div>-->
<!--                <button id="clearButton">비우기</button>-->
<!--            </td>-->
<!--        </tr>-->
        
        <tr>
            <td colspan="2"><input type="submit" value="문의 등록"></td>
        </tr>
    </table>
</form>
</section>
</html>