<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">
    <h1>QnA 조회</h1>
    <form th:action="@{/guide/qnaList}" method="get" autocomplete="off" th:object="${qnaSearch}">
        <table class="table_cols">
            <thead>
            <tr>
                <th>검색</th>
                <td>
                    <select name="sopt">
                        <option value="ALL" th:field="*{sopt}">통합검색</option>
                        <option value="type" th:field="*{sopt}">문의유형</option>
                        <option value="title" th:field="*{sopt}">제목</option>
                        <option value="content" th:field="*{sopt}">내용</option>
                    </select>
                    <input type="text" name="skey" th:field="*{skey}">
                </td>
            </tr>
        </table>
        <div class="submit_btns">
            <button type="submit" class="btn">검색하기</button>
        </div>
    </form>

    <h2>QnA 목록</h2>
        <table class="table_rows">
            <thead>
                <tr>
                    <th>선택</th>
                    <th>게시글 번호</th>
                    <th>문의 유형</th>
                    <th>작성자</th>
                    <th>제목</th>
<!--                    <th>내용</th>-->
                    <th>답변 알림 신청 여부</th>
    <!--                <th>첨부파일명</th>-->
    <!--                <th>첨부파일경로</th>-->
                </tr>
            </thead>

            <tbody>
            <tr th:each="qnaList : ${qnaList}" th:object="${qnaList}">
                <td><input type="checkbox" name="selectQna" th:value="${qnaList}" /></td>
                <td th:text="*{num}"></td>
                <td th:text="*{type}"></td>
                <td th:text="*{member != null ? member.userId : '작성자 정보 없음'}"></td>
                <td><a th:href="@{'/guide/qnaDetail/' + ${qnaList.num}}" th:text="*{title}"></a></td>
<!--                <td th:text="*{content}"></td>-->
                <td th:text="*{answerAlert}"></td>
<!--                <td th:text="*{fileName}"></td>-->
<!--                <td th:text="*{fileAddress}"></td>-->
            </tr>
            </tbody>
        </table>

    <form th:action="@{/guide/add}" method="get" autocomplete="off">
        <button type="submit">등록하기</button>
    </form>
</section>
</html>