<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">


    <h1 class="intro-top">사이트 소개</h1>
    <h3>어린이를 대상으로 하는 바둑 교육 사이트는 바둑에 대한 기본 개념을 가르치고 학습자들의 흥미를 유발하기 위해 다양한 교육 자료와 게임을 제공하는 곳입니다. </h3>
    <div class="layout">


    <div class="edu-container flex_center">

        <h3></h3>
        <div class="edu-content layout_1440  flex_center">



            <div class="msg-box">

                <div class="msg">

                    <h1>집중력 & 사고력, <br>
                        답은 바둑!
                    </h1>
                    <h4>
                        바둑실력이 강해질수록<br>
                        아이의 <em>집중력</em>과 <em>사고력</em>도 좋아집니다.<br>
                        <br>
                        강한 실력으로 가는 출발점은 바로, 즐거움 입니다.
                    </h4>
                </div>

            </div>
            <div class="edu-box">
                <ul class="flex_center">
                    <li>
                        <a href="#" class="flex_center">

                            <img th:src="@{/images/guide/img_thumb-kids-3.jpg}">



                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="edu-container flex_center" >
        <div class="edu-content layout_1440  flex_center">
            <div class="msg-box">
                <div class="msg">
                    <h1>도전을 두려워않는<br>
                        우리아이
                    </h1>
                    <h4>
                        자신감을 쌓은 아이는 힘든 과제앞에서도<br>
                        쉽게 포기하지 않고 <em>도전</em>합니다.<br>
                        <br>
                        문제해결을 위한 노력을 통해 자연스럽게<br>
                        <em>사고력</em>과<em>집중력</em>이 향상됩니다.<br>
                    </h4>
                </div>

            </div>
            <div class="edu-box">
                <ul class="flex_center">
                    <li>
                        <a href="#" class="flex_center">
                            <img th:src="@{/images/guide/thumb-kids-15.jpg}">


                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>








</section>
</html>