<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">



    <section layout:fragment="content">
        <h1>스터디그룹 가입 승인 대기 목록  </h1>

        <form method="get" th:action="@{/education}" th:object="${joinStGroupSearch}" >
            <table class="table_cols">
                <tr>
                    <th>키워드</th>
                    <td>
                        <div class="input_grp">
                            <select name="sopt">
                                <option value="ALL" th:field="*{sopt}">통합검색</option>
                                <option value="groupName" th:field="*{sopt}">스터디그룹명</option>
                                <option value="teacherName" th:field="*{sopt}">선생님명</option>
                            </select>
                            <input type="text" name="skey" th:field="*{skey}">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="search_btn">
                <button type="submit" class="btn">검색하기</button>
            </div>
        </form>


        <table  class="table_rows">
            <thead>
            <tr>
                <th>승인여부</th>
                <th>스터디그룹명</th>
                <th>담당 선생님</th>
                <th>연락처</th>
                <th>승인요청일자</th>

            </tr>
            </thead>

                <input type="hidden" name="userNum" th:value="${session.member.num}">
                <tbody>
                <tr th:each="item : ${list}" th:object="${item}">
                    <td>
                        <div th:if="*{accept}">
                            <input type="checkbox" name="n" checked  onClick="return false" >
                            승인완료
                        </div>
                        <div th:if="*{!accept}">
                            <input type="checkbox" name="chk" th:value="*{num}" onClick="return false"> 미승인
                        </div>
                    </td>
                    <td th:text="*{studyGroup.name}" ></td>
                    <td th:text="*{studyGroup.teacherName}"></td>
                    <td th:text="*{member.tel}"></td>
                    <td th:text="*{SDate}"></td>
                </tr>
                </tbody>
        </table>


        <th:block th:replace="~{common/_pagination::pagination}"></th:block>

    </section>
</html>