<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">
    <h1>학습자 숙제 목록</h1>
    <table class="table_rows mb30">
        <thead>
        <tr>
            <!--            <th width="180">번호</th>-->
            <th width="40"></th>
            <th>숙제명</th>
            <th>내용</th>
            <th>그룹명</th>
            <th>숙제레벨</th>
            <th>제출마감</th>
            <th colspan="2"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${items == null || items.isEmpty()}">
            <td colspan="6">숙제 정보가 없습니다.</td>
        </tr>

        <tr th:unless="${items == null || items.isEmpty()}" th:each="item, number : ${items}" th:object="${item}">

            <td th:text="${number.count}"></td>
            <td th:text="*{homework.name}"></td>
            <td th:text="*{homework.content}"></td>
            <td th:text="*{homework.studyGroup.name}"></td>
            <td th:text="*{homework.studyLevel}"></td>
            <td th:text="*{homework.deadLine}"></td>
            <td width="180">
                <a th:if="*{!@utils.isPast(homework.deadLine)}" th:href="@{/education/homework/submit/{num}(num=*{num})}" class="sbtn">작성/수정</a>
                <a th:if="*{@utils.isPast(homework.deadLine)}" onclick="alert('작성일이 마감되었습니다.');" class="sbtn">작성/수정</a>
            </td>
            <td width="180">
                <a th:href="@{/education/homework/viewAnswer/{num}(num=*{num})}" th:if="*{questionAnswer != null || @utils.isPast(homework.deadLine)}" class="sbtn">내용 확인</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>