<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">
    <h2>게임 콘텐츠 수정</h2>
    <form method="post" th:action="@{/admin/gamecontent/save}" autocomplete="off" th:object="${requestGameContentData}">
        <input type="hidden" name="mode" value="edit">
        <input type="hidden" name="num" th:field="*{num}">
        <th:block th:replace="~{admin/gamecontent/_form::form}"></th:block>

        <div class="submit_btns">
            <button type="reset" class="btn">다시입력</button>
            <button type="submit" class="btn" onclick="return confirm('정말 수정하시겠습니까?')">수정하기</button>
        </div>
    </form>
</section>
</html>