<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<section layout:fragment="content">
    <script src="/js/admin/board/form.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/admin/board/form.css">
    <h2>공지 등록</h2>
    <form th:action="@{/admin/board/noticeFaqAdd}" method="post" th:object="${RequestBoardPosts}" autocomplete="off">
        <div class="tableContainer">
            <table class="table_rows">
                <tr>
                    <th>공지 분류</th>
                    <td>
                        <select id="type" th:field="*{type}" name="type">
                            <option value="notice">공지사항</option>
                            <option value="faq">FAQ</option>
                        </select>
                    </td>
                </tr>

                <!-- Notice 노출 여부 -->
                <tr class="noticeRow">
                    <th>노출 여부</th>
                    <td>
                        <label for="onTop">
                            <input type="checkbox" id="onTop" th:field="*{onTop}" name="onTop">
                            중요글로 상단 노출
                        </label>
                    </td>
                </tr>

                <!-- 제목 -->
                <tr class="row">
                    <th>제목</th>
                    <td>
                        <input type="text" id="title" th:field="*{title}" name="title" placeholder="제목을 입력하세요">
                    </td>
                </tr>

                <!-- notice 게시일자 -->
                <tr class="noticeRow">
                    <th>게시일자</th>
                    <td>
                        <input type="radio" id="immediately" th:field="*{postingType}" name="postingType" value="immediately">
                        <label for="immediately">등록 즉시 게시</label>
                        <input type="radio" id="expectedPostingDate" th:field="*{postingType}" name="postingType" value="expectedPostingDate">
                        <label for="expectedPostingDate">게시 예정일</label>
                        <input type="date" id="calendar" name="scheduledDate" class="calendar">
                    </td>
                </tr>

                <!-- faq 질의 -->
                <tr class="faqRow">
                    <th>질의</th>
                    <td>
                        <textarea id="question" th:field="*{question}" name="question" rows="3" cols="30"></textarea>
                    </td>
                </tr>

                <!-- faq 답변 -->
                <tr class="faqRow">
                    <th>답변</th>
                    <td>
                        <textarea id="answer" th:field="*{answer}" name="answer" rows="10" cols="30"></textarea>
                    </td>
                </tr>

                <!-- notice 내용 -->
                <tr class="noticeRow">
                    <th>내용</th>
                    <td>
                        <textarea id="content" th:field="*{content}" name="content" rows="20" cols="30"></textarea>
                    </td>
                </tr>




<!--                <tr>-->
<!--                    <th>첨부파일(파일 1개당 최대 첨부용량 5MB)</th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td colspan="2">-->
<!--                        <div id="dropArea" class="dropArea">-->
<!--                            <p>마우스로 파일을 끌어 놓으세요.</p>-->
<!--                            <input type="file" id="uploadFile" accept=".doc,.docx, .jpg, .png, .pdf" multiple>-->
<!--                        </div>-->
<!--                        <div id="fileInfo">선택된 파일 없음</div>-->
<!--                        <button id="clearButton">비우기</button>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
                    <td>
                        <input type="submit" id="addNoticeFaq" value="등록하기">
                    </td>
                </tr>
            </table>
        </div>
    </form>
</section>
</html>