<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:div th:fragment="form"><!-- th:if="${requestStGroup != null}" th:object="${requestStGroup}"-->

    <h2>스터디 그룹 등록 / 게임 선택</h2>

    <div th:if="${mode == 'edit'}">
        <input type="hidden" name="num" th:value="*{num}">
    </div>
    <table class="table_rows">
        <thead>
        <tr>
            <th>선택</th>
            <th>컨텐츠명</th>
            <th>썸네일</th>
            <th>구독 기간</th>
            <th>개월</th>
            <th>(게임)학습가능인원</th>
            <th>(스터디그룹)그룹 배정 인원 ???</th>
            <th>잔여분M/M ???</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${items}" th:object="${game}">
            <td>
                <input type="radio" name="num" th:value="*{gameContent.num}">
            </td>
            <th th:text="*{gameContent.gameTitle}"></th>
            <td>
                <th:block th:if="*{gameContent != null && gameContent.thumbnail != null}" th:utext="*{@utils.printThumb(gameContent.thumbnail.seq, 100, 100, 'image')}"></th:block>

            </td>
            <th th:text="*{gameContent.startDate+ '~' +gameContent.endDate}"></th>
            <th th:text="*{gameContent.subscriptionMonths}"></th>
            <th th:text="*{gameContent.maxSubscriber}"></th>
            <th >???</th>
            <th >???</th>
        </tr>
        </tbody>
    </table>
    <div th:if="${emsg != null}">
        <div th:text="${emsg}" class="error"></div>
    </div>

    <hr>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>


</th:div>
</html>