<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<form th:action="@{/teacher/studyGroup/detail}" th:object="${item}">
    <select name="num" th:field="*{num}">
        <option th:each="stGroup : ${list}"  th:value="${stGroup.num}" th:text="${stGroup.name}" ></option>
    </select>
    <button type="submit">상세 조회</button>
</form>

<div th:replace="~{front/teacher/studyGroup/_detail::detail}"></div>
<hr>

<h2>해당 스터디그룹 가입 학생 목록</h2>
<table border="1">
    <tr>

        <th>NO</th>
        <th>학생이름</th>
        <th>이메일</th>
        <th>가입일자</th>
    </tr>
    <tr th:each="member : ${members}" th:object="${member}">
        <td th:text="*{num}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{email}"></td>
        <td > 000 </td>
    </tr>
</table>

</html>
