<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">
    <h1>스터디그룹 목록 / UI-W-012</h1>
    <br>

    <form method="get" th:action="@{/teacher/group}" th:object="${stGroupSearch}" >
        <table class="table_cols">
            <tr>
                <th>키워드</th>
                <td>
                    <div class="input_grp">
                        <select name="sopt">
                            <option value="ALL" th:field="*{sopt}">통합검색</option>
                            <option value="groupName" th:field="*{sopt}">스터디그룹명</option>
                            <option value="gameName" th:field="*{sopt}">게임컨텐츠명</option>
                        </select>
                        <input type="text" name="skey" th:field="*{skey}">
                    </div>
                </td>
            </tr>
        </table>
        <div class="search_btn">
            <button type="submit" class="btn">검색하기</button>
        </div>
    </form>

    <div class="flex sb mt20 mb20">
        <h2>스터디 그룹목록</h2>

    </div>
    <form name="frmList" method="post" th:action="@{/teacher}" autocomplete="off">
        <input type="hidden" name="_method" value="delete">
    <table class="table_rows">
        <thead>
        <tr>
            <th>선택</th>
            <th>스터디그룹명</th>
            <th>게임컨텐츠명</th>
            <th>그룹 T/O(등록 가능 인원?)</th>
            <th>구독기간</th>
            <th>달성레벨</th>
            <th>가입학생수</th>
            <th>수정 / 삭제</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${list}" th:object="${item}">
                <td><input type="checkbox" name="chk" th:value="*{num}"></td>
                <td > <a th:href="@{/teacher/group/detail/{num}(num=*{num})}" th:text="*{name}"></a></td>
                <td th:text="*{gameTitle}"></td>
                <td th:text="*{maxSubscriber}"></td>
                <td th:text="*{startDate+' ~ '+endDate}"></td>
                <td th:text="*{maxLevel}"></td>
                <td >member 완성되면</td>
                <td>
                    <a th:href="@{/teacher/group/edit/{num}(num=*{num})}" class="sbtn on">수정</a>
                    <a th:href="@{/teacher/group/delete/{num}(num=*{num})}" class="sbtn">삭제</a>
                </td>
            </tr>
        <tr>
            <td>
                <button type="button" class="sbtn blue form_action" data-mode='delete' data-form-name="frmList">선택 스터디 그룹 삭제</button>

            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a th:href="@{/teacher/group/add}" class="sbtn on">
                    <i class="xi-plus"></i> 생성
                </a>
            </td>
        </tr>

        </tbody>
    </table>
<!--

        <div class="table_actions">
            <button type="button" class="sbtn blue form_action" data-mode='delete' data-form-name="frmList">선택 스터디 그룹 삭제</button>
        </div>
-->

        <th:block th:replace="~{common/_pagination::pagination}"></th:block>
    </form>

</section>
</html>