<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">
    <h1>스터디그룹 목록 / UI-W-012</h1>
    <br>

    <form method="get" th:action="@{/teacher/studyGroup}" th:object="${stGroupSearch}" >
        <table>
            <tr>
                <th>키워드</th>
                <td>
                    <select name="sopt">
                        <option value="ALL" th:field="*{sopt}">통합검색</option>
                        <option value="groupName" th:field="*{sopt}">스터디그룹명</option>
                        <option value="gameName" th:field="*{sopt}">게임컨텐츠명</option>
                    </select>
                    <input type="text" name="skey" th:field="*{skey}">
                </td>
                <td>
                    <button type="submit">검색하기</button>
                </td>
            </tr>
        </table>
    </form>
    <hr>

    <table border="1">
        <tr>
            <th>선택</th>
            <th>스터디그룹명</th>
            <th>게임컨텐츠명</th>
            <th>그룹 T/O(등록 가능 인원?)</th>
            <th>구독기간</th>
            <th>달성레벨</th>
            <th>가입학생수</th>
            <th>수정 / 삭제</th>
        </tr>
        <form method="post" th:action="@{/teacher/studyGroup}" autocomplete="off">
            <input type="hidden" name="_method" value="delete">
            <tr th:each="item : ${list}" th:object="${item}">
                <td><input type="checkbox" name="chk" th:value="*{num}"></td>
                <td > <a th:href="@{/teacher/studyGroup/detail/{num}(num=*{num})}" th:text="*{name}"></a></td>
                <td th:text="*{gameTitle}"></td>
                <td th:text="*{maxSubscriber}"></td>
                <td th:text="*{startDate+' ~ '+endDate}"></td>
                <td th:text="*{maxLevel}"></td>
                <td >member 완성되면</td>
                <th>
                    <a th:href="@{/teacher/studyGroup/edit/{num}(num=*{num})}">수정</a>
                    /
                    <a th:href="@{/teacher/studyGroup/delete/{num}(num=*{num})}">삭제</a>
                <th>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/teacher/studyGroup/add}">생성</a>
                </td>
                <td>
                    <button type="submit">선택삭제</button>
                </td>
                <td colspan="6">
                    <th:block th:replace="~{commons/_pagination::pagination}"></th:block>
                </td>
            </tr>
        </form>
    </table>
</section>
</html>