<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">

  <h1 th:text="#{인증정보}"></h1>

  <form name="frmJoin" method="post" th:action="@{/member/join}" autocomplete="off" th:object="${requestJoin}">

    <input type="hidden" name="redirectURL" th:if="${param.redirectURL != null}" th:value="${param.redirectURL}">

  <dl>
    <dt th:text="#{회원명}"></dt>
    <dd th:text="*{name}">
    </dd>
  </dl>

  <dl>
    <dt th:text="#{이메일}"></dt>
    <dd th:text="*{email}">
    </dd>
  </dl>

    <!--    이메일 옵션 선택-->
    <!--    <input class="emailBox" id="emailTxt" type="text" name="email" th:field="*{email}" placeholder="이메일 주소를 입력하세요."/>-->
    <!--    <select class="emailBox" id="emailList" >-->
    <!--      <option value="type">직접 입력</option>-->
    <!--      <option value="naver.com">naver.com</option>-->
    <!--      <option value="google.com">google.com</option>-->
    <!--      <option value="hanmail.net">hanmail.net</option>-->
    <!--      <option value="nate.com">nate.com</option>-->
    <!--      <option value="kakao.com">kakao.com</option>-->
    <!--    </select>-->

    <br>

    <h1 th:text="#{정보입력}"></h1>
    <span style="color: red;">*는 필수입력 값 입니다.</span>

    <dl>
      <dt><span style="color: red;">*</span><span th:text="#{아이디}"></span></dt>
      <dd>
        <input type="text" class="inputId" name="userId" th:field="*{userId}" placeholder="공백없이 영문/숫자 6자">
        <button type="button" class="sbtn on" id="userId_dup_check" th:text="#{중복_확인}"></button>
        <div class="id_check_ok"></div>
        <div class="error" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
      </dd>
    </dl>

    <br>

    <dl>
      <dt><span style="color: red;">*</span><span th:text="#{비밀번호}"></span></dt>
      <dd>
        <input type="password" name="password" th:field="*{password}" placeholder="공백없이 영문(대&소문자) 숫자 및 특수문자 조합 8자 이상">
        <div class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
      </dd>
    </dl>

    <br>

    <dl>
      <dt><span style="color: red;">*</span><span th:text="#{비밀번호_확인}"></span></dt>
      <dd>
        <input type="password" name="confirmPassword" th:field="*{confirmPassword}" placeholder="비밀번호를 한번 더 입력하세요">
        <div class="error" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
      </dd>
    </dl>

    <br>

    <dl>
      <dt><span style="color: red;">*</span><span th:text="#{휴대전화}"></span></dt>
      <dd>
        <input type="text" name="tel" th:field="*{tel}" placeholder="( - ) 빼고 숫자만 입력">
        <div class="error" th:each="err : ${#fields.errors('tel')}" th:text="${err}"></div>
      </dd>
    </dl>

    <br>

    <dl>
      <dt><span style="color: red;">*</span><span th:text="#{생년월일}"></span></dt>
      <dd>
        <input type="date" name="birth" th:max="9999-12-31" th:field="*{birth}" onchange="MaxMinDate();">
        <div class="error" th:each="err : ${#fields.errors('birth')}" th:text="${err}"></div>
      </dd>
    </dl>

    <br>

    <dl>
      <dt><span style="color: red;">*</span><span th:text="#{회원구분}"></span></dt>
        <select name="authority" th:field="*{authority}">
          <option name="authority" id="authority_USER" th:field="*{authority}" th:value="USER">일반회원</option>
          <option name="authority" id="authority_TEACHER" th:field="*{authority}" th:value="TEACHER">교육자</option>
          <option name="authority" id="authority_STUDENT" th:field="*{authority}" th:value="STUDENT">학습자</option>
          <option name="authority" id="authority_ADMIN" th:field="*{authority}" th:value="ADMIN">관리자</option>
        </select>
        <div class="error" th:each="err : ${#fields.errors('authority')}" th:text="${err}"></div>
    </dl>

    <br>

    <dl>
      <dt th:text="#{성별}"></dt>
      <dd>
        <input type="radio" name="gender" id="gender_M" th:field="*{gender}" th:value="M">
        <label for="gender_M">남자</label>
        <input type="radio" name="gender" id="gender_F" th:field="*{gender}" th:value="F">
        <label for="gender_F">여자</label>
      </dd>
      <div class="error" th:each="err : ${#fields.errors('gender')}" th:text="${err}"></div>
    </dl>

    <br>

    <dl>
      <dt th:text="#{수신동의}"></dt>
      <dd>
        <label>
          <span th:text="#{이벤트_커리큘럼_신규콘텐츠_등_광고_메시지_수신}"></span>
          <input type="checkbox" name="SMSAgree" value="true" id="SMSAgree" th:field="*{SMSAgree}">
          <span th:text="#{SMS}"></span>
        </label>
        <div class="error" th:each="err : ${#fields.errors('SMSAgree')}" th:text="${err}"></div>

        <label>
          <input type="checkbox" name="EmailAgree" value="true" id="EmailAgree" th:field="*{EmailAgree}">
          <span th:text="#{이메일}"></span>
        </label>
        <div class="error" th:each="err : ${#fields.errors('EmailAgree')}" th:text="${err}"></div>
      </dd>
    </dl>

    <br>

    <button type="submit" class="sbtn on" th:utext="#{회원가입}"></button>

  </form>
</section>
</html>