<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="homeworkList">
    <table class="table_rows mb30">
        <thead>
        <tr>
            <th width="180">번호</th>
            <th>숙제명</th>
            <th>내용</th>
            <th>숙제레벨</th>
            <th>제출마감</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${items == null || items.isEmpty()}">
            <td colspan="6">숙제 정보가 없습니다.</td>
        </tr>
        <tr th:unless="${items == null || items.isEmpty()}" th:each="item : ${items}" th:object="${item}">
            <td th:text="*{num}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{content}"></td>
            <td th:text="*{studyLevel}"></td>
            <td th:text="*{deadLine}"></td>
            <td>
                <a th:href="@{/teacher/homework/edit/{num}(num=*{num})}" class="sbtn">수정하기</a>
                <a th:href="@{/teacher/homework/delete/{num}(num=*{num})}" class="sbtn" onclick="return confirm('정말 삭제하시겠습니까?');">삭제하기</a>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</html>