<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="homeworkList">
    <table>
        <thead>
        <tr>
            <td>번호</td>
            <td>숙제명</td>
            <td>내용</td>
            <td>숙제레벨</td>
            <td>제출마감</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${items == null || items.isEmpty()}">
            <td colspan="6">숙제 정보가 없습니다.</td>
        </tr>
        <tr th:unless="${items == null || items.isEmpty()}" th:each="item : ${items}" th:object="${item}">
            <td th:text="*{num}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{content}"></td>
            <td th:text="*{studyLevel}"></td>
            <td th:text="*{deadLine}"></td>
            <td>
                <a th:href="@{/homework/edit/{num}(num=*{num})}" class="btn">수정하기</a>
                <a th:href="@{/homework/submitList/{num}(num=*{num})}" class="btn">제출현황</a>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</html>