<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="content">

    <h2>숙제 등록</h2>
    <form method="post" th:action="@{/teacher/homework/add}" autocomplete="off" th:object="${requestHomework}">

        <th:block th:replace="~{teacher/homework/_form2::save}"></th:block>

        <button type="reset">다시하기</button>
        <button type="submit">등록</button>
    </form>

</section>
</html>