<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<h2>숙제 평가 페이지</h2>
<table>
    <thead>
        <tr>
            <th>숙제 이름</th>
            <th>숙제 내용</th>
            <th>마감일</th>
        </tr>
        <tr>
            <td>(ex) 바둑의 기초</td>
            <td>(ex) 축</td>
            <td>2024-02-28</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>이름</th>
            <th>제출 내용</th>
            <th>점수</th>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</html>