<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<section layout:fragment="content">
<h2>숙제 배포</h2>
    <form method="post" th:action="@{/teacher/homework/post}" autocomplete="off">


        <th:block th:replace="~{teacher/homework/_form::homeworkList}"></th:block>

        교육자가 등록한 학습그룹
        <table class="table_rows mb30">
            <thead>
                <tr>
                    <td  colspan="4">
                    <label for="options">학습그룹</label>
                        <select id="options" name="options" onChange="updateTable()">
                            <option>선택</option>
                            <option th:each="item : ${list}" th:value="${item.num}" th:text="${item.name}" th:attr="data-index=${item.num}"></option>
                        </select>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th width="40"><input type="checkbox" id="checkall"></th>
                    <th>학습자명</th>
                    <th>전화번호</th>
                    <th>현재 레벨</th>
                </tr>
                <tr id="group_member" th:each="item : ${list}" th:object="${item}">
                    <td colspan="4">학습그룹을 선택해주세요.</td>
                </tr>
            </tbody>
        </table>
        <div class="submit_btns">
            <button type="reset" class="sbtn">다시하기</button>
            <button type="submit" class="sbtn on">전송하기</button>
        </div>
    </form>
</section>
</html>