<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<section layout:fragment="content">
<h1>숙제 배포</h1>
    <form name="distributeFrm" id="distributeFrm" method="post" th:action="@{/teacher/homework/distribute}" autocomplete="off">


<!--        <th:block th:replace="~{teacher/homework/_form::homeworkList}"></th:block>-->

        <div class="mb30">
            <label for="options">학습그룹</label>
            <select id="options" name="options" onChange="updateHomework();">
                <option>선택</option>
                <option th:each="item : ${list}" name="num" th:value="${item.num}" th:text="${item.name}" th:attr="data-index=${item.num}"></option>
            </select>
        </div>

        <table class="table_rows mb30">
            <thead>
                <tr>
                    <th width="40"><input type="checkbox" id="checkAllHomework"></th>
                    <th>숙제명</th>
                    <th>내용</th>
                    <th>학습그룹</th>
                    <th>숙제레벨</th>
                    <th>제출마감</th>
                </tr>
            </thead>
            <tbody id="group_homework">
                <tr>
                    <td colspan="4">학습그룹 숙제</td>
                </tr>
            </tbody>
        </table>
        <table class="table_rows">
            <thead>
                <tr>
                    <th width="40"><input type="checkbox" id="checkAllMember"></th>
                    <th>학습자명</th>
                    <th>전화번호</th>
                    <th>현재 레벨</th>
                </tr>
            </thead>
            <tbody id="group_member">
                <tr>
                    <td colspan="4">학습그룹 멤버</td>
                </tr>
            </tbody>
        </table>

        <div class="submit_btns">
            <button type="reset" class="sbtn">다시하기</button>
            <button id="submitBtn" class="sbtn on">전송하기</button>
        </div>
    </form>
</section>
</html>