<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="common" >






        <h2>팀원 소개</h2>
        <h3>고원일 : 회원가입, 매출조회 <br> 박범수 : 학습서비스 <br> 박호범 : 게시판 <br> 이기흥 : 구독서비스 <br> 장하영 : 디자인 <br> 전표찬 : 교육자마당 <br> </h3>


        <address>
            이용약관 / 개인정보 방침으로 구성
            <br>
            © Copyright 2024 바둑교육. All rights reserved.
        </address>

        <style>


           footer h1, footer h2, footer h3{
              text-align: center;
                line-height: 30px;
                margin-top: 50px;
            }

            footer address{
            margin-top: 80px;
            margin-bottom: 80px;
            text-align: center;

            }

        </style>
    </footer>


</html>